@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-principal-: #262626;
    --cor-fundo-: #EBEBD3;
    --cor-destaque-: #D95204;
    --cor-auxiliar-: #758173;
    --fonte-destaque-: "Mochiy Pop P One", cursive;
    --fonte-principal-: "Roboto Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal-);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-principal-);
    color: var(--cor-fundo-);
}

header {
    width: 100%;
    height: 13vh;
    background-color: var(--cor-principal-);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px 10px 10px;
    color: var(--cor-fundo-);
    position: fixed;
}

.logo {
    height: 70px;
    width: 120px;
    background-color: var(--cor-fundo-);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
    width: 75%;
    text-align: center;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menu ul li a {
    padding: 20px 40px;
    color: var(--cor-fundo-);
    transition: 300ms;
    font-size: 16px;
    font-family: var(--fonte-destaque-);
}

.menu ul li a:hover {
    color: var(--cor-destaque-);
}

.linha_home {
    background-image: url("Restaurante%20Sakura%20Sushi%20Aconchegante.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor-fundo-);
}

.linha_home .container {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.linha_home .container h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: var(--fonte-destaque-);
}

.linha {
    height: 100vh;
    background-color: var(--cor-fundo-);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13vh;
}

.container {
    width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.container h1 {
    color: #262626;
    font-size: 35px;
    font-family: var(--fonte-destaque-);
}

.produtoss {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.produto {
    height: 90px;
    width: 800px;
    background-color: var(--cor-destaque-);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.668);
    margin-bottom: 10px;
    transition-duration: 200ms;
}

.produto .imagem_produto {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
}

.produto .imagem_produto img {
    width: 100%;
    height: 100%;
}

.produto .descricao {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    color: var(--cor-fundo-);
}

.produto .descricao h1 {
    font-size: 22px;
    margin: 0;
    color: var(--cor-fundo-);
    font-family: var(--fonte-destaque-);
}

.produto .descricao p {
    font-size: 15px;
    margin: 0;
    line-height: 1.2;
}

.produto .valor {
    width: 20%;
}

.produto .valor h2 {
    font-size: 23px;
    margin: 0;
    color: var(--cor-fundo-);
}

.produto:hover {
    transition-duration: 300ms;
    height: 90px;
    width: 810px;
    background-color: #8a3504;
}

footer {
    height: 180px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-auxiliar-);
    padding: 10px;
    gap: 20px;
}

footer .rodape h1 {
    font-size: 25px;
}

footer .rodape p {
    font-size: 15px;
}

footer .rodapeimg {
    width: 15%;
    height: 75%;
    background-image: url(logo2.jpg);
}

footer .rodape {
    margin-top: 10px;
    width: 25%;
    height: 100%;
    background-color: var(--cor-auxiliar-);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

footer .rodape img {
    max-width: 100%;
    max-height: 100%;
}

footer .rodapebrand {
    margin-top: 10px;
    width: 18%;
    height: 100%;
    background-color: var(--cor-auxiliar-);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .rodapebrand img {
    width: 150px;
}

footer .rodapebrand h1 {
    font-size: 22px;
}

footer .rodapebrand p {
    font-size: 11px;
}
